# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Do not ignore the gradle wrapper
!gradle-wrapper.jar

# Ignore IntelliJ IDEA files
*.iml
.idea/